<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="/javascripts/login.js"></script>
</head>
<body>
    <form name="loginForm" role="form" action = "/loginIn" method="post" onsubmit="return test()">
        <label for="name">账号</label>
        <input type="text" id="name" name="name" onblur="console.log('文本失去焦点');"><br>
<!--        账号：<input type="text" id="name" name = "name" value="请输入账号"> <br>-->
        <label for="password">密码</label>
        <input type="password" id = "password" name = "password"><br>
        <input type="submit" id = "login" value = "login">
    </form>

</body>
</html>